vcl 4.1;

import directors;

{% for name,members in backends|dictsort %}
{% for member in members|sort %}{%set uri = uris[member] %}
backend {{name}}_{{loop.index}} {
   .host = "{{ uri.hostname }}";
   {% if name in vhosts %}      .host_header = "{{ vhosts[name] }}"; {% endif %}
   .port = "{{ uri.port if uri.port != None else 80 }}";
   .probe = {
      .url = "{{ uri.path }}";
      .timeout = 30s;
      .interval = 10s;
      .threshold = 3;
   }
}
{% endfor %}
{% endfor %}

backend status {
   .host = "localhost";
   .port = "10999";
   .connect_timeout = 10s;
   .first_byte_timeout = 10s;
   .between_bytes_timeout = 10s;
}

sub vcl_init {

   {% for name,members in backends|dictsort %}

   new {{ name }} = directors.round_robin();
   {% for member in members|sort %}{%set uri = uris[member] %}
   {{ name }}.add_backend({{name}}_{{loop.index}});
   {% endfor %}
   {% endfor %}

}

sub normalize_req_url {

    # Strip out Google Analytics campaign variables. They are only needed
    # by the javascript running on the page
    # utm_source, utm_medium, utm_campaign, gclid, ...
    if(req.url ~ "(\?|&)(gclid|cx|ie|cof|siteurl|zanpid|origin|utm_[a-z]+|mr:[A-z]+)=") {
        set req.url = regsuball(req.url, "(gclid|cx|ie|cof|siteurl|zanpid|origin|utm_[a-z]+|mr:[A-z]+)=[%.-_A-z0-9]+&?", "");
    }
    set req.url = regsub(req.url, "(\?&?)$", "");
}

acl purge {
   "localhost";
}

sub vcl_recv {
  if (req.method == "PURGE") {
     if (!client.ip ~ purge) {
        return (synth(405, "Not allowed."));
     }
     return (purge);
  }

  unset req.http.cookie;
{% if default_backend %}
  set req.backend_hint = {{ default_backend }};
{% endif %}
  set req.grace = 1h;

  if (req.http.host == "localhost") {
    set req.backend_hint = status;
  }

{% for name,members in backends|dictsort %}
{% if (not acme_backend) or (name != acme_backend) %}
  if (req.http.host == "{{ name }}.{{ domain }}"{% if name in vhosts %} || req.http.host == "{{ vhosts[name] }}"{% endif %}) {
    set req.http.host = "{{ vhosts[name] }}";
    set req.backend_hint = {{ name }}.backend();
  }
{% endif %}
{% endfor %}

{% if acme_backend %}
  if (req.url ~ "^/.well-known/acme-challenge/") {
    set req.backend_hint = {{ acme_backend }}.backend();
  }
{% endif %}

  call normalize_req_url;
}

sub vcl_backend_response {
  set beresp.grace = 24h; /* for samlbits this makes sense */
  set beresp.do_stream = true;
  if (beresp.http.content-type ~ "text" || beresp.http.content-type ~ "xml" || beresp.http.content-type ~ "javascript") {
     set beresp.do_gzip = true;
  }
  if (beresp.status == 404) { 
     set beresp.ttl = 10s; 
  }
  if (beresp.ttl < 120s) {
     set beresp.ttl = 120s;
  }
}
